body {
    background-image: linear-gradient(to bottom right, #fdfcfb, #e2d1c3);
    background-size: 100% 200%;
}

.main {
    margin-top: 10%;
    margin-left: 8%;
    font-family: 'Nunito', sans-serif;
    display: flex;
}

.nav-panel {
    margin-left: 8%;
    font-size: 20px;
}

.nav-link {
    border: 1px dot-dot-dash #B1B479;
    color: #DDA52D;
}

.text {
    padding-bottom: 4%;
}

p {
    width: 500px;
    white-space: normal;
    padding-bottom: 4%;
}
